@font-face {
    font-family: "MatrixSans";
    src: url("../fonts/MatrixSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "JUSTsans";
    src: url("../fonts/JUSTSans-Rg.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Monaspace";
    src: url("../fonts/MonaspaceNeon-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #2a2a2a
}

/* Top left */
#studio-logo{
    width: 10vh;
    height: 12vh;
}
p.top-left{
    margin-left: 1.1vw;
    margin-top: 4.4vh;
    color: white;
}
.top-left-div{
    margin-left: 0.4vw;
    margin-top: 1vh;
    font-family: "MatrixSans";
    font-size: 3vh;
    left : 1vw;
    top: 1vh;
    display: flex;
    position: absolute;
}

.studio-banner{
    background-color: darkslategray;
    height: 80vh;
    margin-top: -24px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 6vh 0px 3vh 15vw;
}
.studio-banner h1{
    font-family: "JUSTsans";
    max-width: 30vw;
    font-size: 7vw;
    text-align: left;
    line-height: 7vw;
    color: white;
}

.studio-about-text{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
    max-width: 80vw;
}
.studio-about h1{
    font-family: "JUSTsans";
    font-size: 24px;
    color: white;
    line-height: 28px;
}
.studio-about p{
    font-family: "JUSTsans";
    font-size: 18px;
    color: white;
    line-height: 28px;
}
.studio-line-division{
    border-top: 3px dashed #bbb;
    border-bottom: 0px dashed;
    border-left: 0px dashed;
    border-right: 0px dashed;
    width: 80vw;
}
.studio-values-div{
    text-align: center;
    font-family: "JUSTsans";
    color: white;
    
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
    max-width: 80vw;
}
.studio-values-list{
    max-width: 60vw;
    text-align: left;
}
.studio-values-list h2{
    font-family: "monaspace";
    font-size: 48px;
    margin-bottom: -10px;
}
.studio-values-list p{
    font-family: "JUSTsans";
    color: white;
}